__pycache__
*.egg-info
.vscode

build
dist
gen

studies/**/*.root
studies/**/*.tex
studies/**/*.md
studies/**/*.yml
studies/**/*.png
studies/**/*.pdf
studies/**/*.pickle

.lvimrc
.virtualenv

*.pyc
*.root
